<!DOCTYPE html>
<html lang="EN_en">
<head>

    <!--

        HugoCLI
        https://github.com/HugoCLI/holbertonschool-adp

        Open source project, copyright applicable

    -->

    <title> Holberton School - Automatic Day Planner </title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/assets/router.css?id=<%= manifest_version %>">
    <link rel="stylesheet" href="/assets/common.css?id=<%= manifest_version %>">
    <link rel="stylesheet" href="/assets/navbar.css?id=<%= manifest_version %>">
    <link rel="stylesheet" href="/assets/contains.css?id=<%= manifest_version %>">

    <meta platform="endpoint" value="<%= endpoint %>">
    
</head>
<body>

    <aside>

        <header class="navbar">

            <div class="block">
                <i class='bx bx-home-alt-2 active' ></i>
                <i class='bx bx-calendar-event'></i>
                <i class='bx bx-git-commit' ></i>
            </div>
            <div class="block bottom">
                <i class='bx bx-cog'></i>
            </div>
            
        </header>

        <aside class="contains">

            <header>

                <div class="menu">
                    <span class="theme">
                        <i class='moon bx bx-moon' ></i>
                        <i class='sun bx bxs-sun hide' ></i>
                    </span>
                    <version-text> </version-text>
                    <div class="lists">

                    </div>
                </div>

                <div class="right">
                    <span class="weather">
                        <value>-</value> <celcus>°C</celcus>
                    </span>
                </div>

            </header>

            <div class="paginations">

                <section class="committers">

                    <div class="current-comitter unshow">
                        <h5>from <repo> </repo> </h5>
                        <h1> </h1>
                        <div class="about-committer">
                            <h3> <img src=""> Committed by <author> </author> </h3>
                            <div class="experience-comitter">
                                <span><i id="icon" class='bx bx-chevron-up'></i> <value></value></span>
                            </div>
                        </div>
                    </div> 
    
                    <div class="scoreboard"></div>
                </section>


                <section class="events hide">

                </section>
            </div>

        </aside>

    </aside>

</body>
<footer>
    <script src="/apps/restapi.js?id=<%= manifest_version %>"></script>
    <script src="/apps/screen.js?id=<%= manifest_version %>"></script>
    <script src="/apps/events.js?id=<%= manifest_version %>"></script>
    <script src="/apps/commits.js?id=<%= manifest_version %>"></script>
    <script>


            const d = document;
            const schedule = [

                // Recurring event

                { day: [1], hour: 9, minute: 0, title:"Check-in", link: 'zoommtg://zoom.us/join?confno=83251922994&pwd=QlMwV2J3N2lDbGFmQkdaN0FYalNzZz09' },

                { day: [1, 2, 3, 4, 5], hour: 11, minute: 30, title: "Speaker Of the Day", link: 'zoommtg://zoom.us/join?confno=84822594283&pwd=eXhPV1BUdVBGU1BXaWVaQllqN0luZz09' },

                { day: [1, 2, 3, 4, 5], hour: 11, minute: 45, title: "Stand-up", link: 'zoommtg://zoom.us/join?confno=83392530685&pwd=SEdOTUpibVlOTTU0bDFHNEdPVll5QT09' },

                { day: [5], title: "France Wrap-up", hour: 15, minute: 30, link: 'zoommtg://zoom.us/join?confno=87494744554&pwd=YzJkZ3lvMml3QXpjejRvaWRYaDVtQT09' },


                // Temporary event


            ];
    

            d.querySelector('.moon').addEventListener('click', () => {
                d.querySelector('.moon').classList.add('hide');
                d.querySelector('.sun').classList.remove('hide');
                d.querySelector('html').classList.add('dark-theme')
            })

            d.querySelector('.sun').addEventListener('click', () => {
                d.querySelector('.sun').classList.add('hide');
                d.querySelector('.moon').classList.remove('hide');
                d.querySelector('html').classList.remove('dark-theme')
            })

            async function handleVersion ( status ) {
                if (!screen.version || screen.version == status.interface) 
                {
                    screen.update.version( status.interface );
                    screen.version = status.interface
                    return;
                }
                location.reload();
            }


            async function handleWeather ( weather ) {
                screen.update.weather( weather.temperature )
            }

            async function handleCommits ( commitsList ) {

                async function sendToDisplay(commit) {
                    commits.sentToDisplay(commit);
                }

                if (commitsList.length > 0) 
                {
                    sendToDisplay(commitsList[0])
                }
                
            }


            async function handleScoreboard ( scoreboard ) {
                screen.scoreboard = scoreboard
                screen.update.scoreboard(screen.scoreboard);
            }


            const weather = new ApiController('platforms/weather/toulouse', handleWeather);
            weather.setAutoRefresh(60000).sendRequest();

            const version = new ApiController('platforms/version', handleVersion);
            version.setAutoRefresh(60000).sendRequest();

            const getNewCommit = new ApiController('commits/pending?limit=1', handleCommits);
            getNewCommit.setAutoRefresh(15000).sendRequest();

            const scoreboard = new ApiController('users/scoreboard', handleScoreboard);
            scoreboard.sendRequest();

            const latest = new ApiController("commits/latest", handleCommits);
            latest.sendRequest();


            setInterval(() => event.openOnTime(), 5000);
            event.listView();

    </script>
    
</footer>
</html>
